---
layout: default
title: Reads
---

<a style="width:100%;padding-right: initial;padding-left: 0px;text-align:center;" id="s-tag-button" href="/tag/read">SHOW ALL READS</a>

{% for page in site.categories.reads limit:1 %}

<div class="post">

  <header class="post-header">
    <br>
    <h1 class="post-title"><b>{{ page.title }}</b></h1>
    <p class="post-meta"><a class="author" href="/about">{% if page.author %}{{ page.author }}{% endif %}</a>  -  {{ page.date | date: "%b %-d, %Y" }}{% if page.meta %} • {{ page.meta }}{% endif %}</p>
    {% for tag in page.tags %}
        <a class="tags" href="/tag/{{ tag }}">{{ tag }}</a>
      {% endfor %}
  </header>

  <article class="post-content">
    <br>
    <center>
      {{ page.content }}
    </center>

    <!-- Next and Previous Page Links in Category -->
    {% for post in site.categories.reads %}
      {% if post.url == page.url %}
          {% assign post_index0 = forloop.index0 %}
          {% assign post_index1 = forloop.index %}
      {% endif %}
    {% endfor %}
    {% for post in site.categories.reads %}
        {% if post_index0 == forloop.index %}
            {% assign next_post = post.url %}
        {% endif %}
        {% if post_index1 == forloop.index0 %}
            {% assign prev_post = post.url %}
        {% endif %}
    {% endfor %}

  <div class="post-div">
    {% if prev_post %}
        <a class="prev-link" href="{{ prev_post }}"><span>&#8592;&#09;previous</span></a>
    {% endif %}
    <span class="nav-hint-mob"> You can also navigate with left [or] right arrows </span>
    {% if next_post %}
        <a class = "next-link" href="{{ next_post }}"><span>next&#09;&#8594;</span></a>
    {% endif %}
  </div>
  <!-- End of Next and Previous Post Links -->

  </article>

  {% include share-page.html %}
  
  <div id="spot-im-frame-inpage"></div>

</div>

{% endfor %}

<script type="text/javascript">
  function leftArrowPressed() {
   window.location.href = "{{ prev_post }}";
}

function rightArrowPressed() {
   window.location.href = "{{ next_post }}";
}

document.onkeydown = function(evt) {
    evt = evt || window.event;
    switch (evt.keyCode) {
        case 37:
            leftArrowPressed();
            break;
        case 39:
            rightArrowPressed();
            break;
    }
};
</script>