_site
.sass-cache
.jekyll-metadata
Gemfile.lock
.deploy_key
.deploy_key.pub
*.gem
*.rbc
.bundle
.config
coverage
InstalledFiles
lib/bundler/man
pkg
rdoc
spec/reports
test/tmp
test/version_tmp
tmp
vendor

# YARD artifacts
.yardoc
_yardoc
doc/