<footer class="site-footer">
<a href="/feed.xml"><i title="Subscribe" class="fa fa-rss fa-rss-footer" ></i></a>
  <div class="wrapper">

    {% include social-list.html %}

    <div class="footer-col-wrapper">
      <p>© 2016 Revanth Revoori. All rights reserved <br /><span><a rel="license" href="http://creativecommons.org/licenses/by/4.0/"><img alt="Creative Commons License" style="border-width:0" src="https://i.creativecommons.org/l/by/4.0/80x15.png" /></a></span></p>
    </div>

  </div>

</footer>
