<header class="site-header">

  <div class="wrapper">

    <a class="site-title" href="{{ site.baseurl }}/"><span id="_author2" itemprop="author" itemscope itemtype="http://schema.org/Person"><span itemprop="name">{{ site.title }}</span></span></a>

    <nav class="home-links">
      <ul>
        <li><a class="link-border" href="/reads" title="Reads"><i class="fa fa-bookmark"></i></a></li>
        <i class="fa fa-bolt"></i>
        <li><a class="link-border" href="/videos" title="Videos"><i class="fa fa-video-camera"></i></a></li>
        <i class="fa fa-bolt"></i>
        <li><a class="link-border" href="/photos" title="Photos"><i class="fa fa-camera-retro"></i></a></li>
        <i class="fa fa-bolt"></i>
        <li><a class="link-border" href="/search" title="Search"><i class="fa fa-search"></i></a></li>
      <!--   <i class="fa fa-bolt"></i>
        <li><a class="link-border" href="/about">About</a></li> -->
        <!-- <i class="fa fa-bolt"></i>
        <li><a class="link-border" href="/musings">Musings</a></li> -->
      </ul>
    </nav>

  </div>

</header>
