<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="p:domain_verify" content="334a26f18c0712cdb390e9eba0ef9f50"/>
  <title>{% if page.title %}{{ page.title }}{% else if site.pagetitle%}{{ site.pagetitle }}{% else %}{{ site.title }}{% endif %}</title>
  <meta name="description" content="{% if page.excerpt %}{{ page.excerpt | strip_html | strip_newlines | truncate: 160 }}{% else %}{{ site.description }}{% endif %}">
  <meta name="keywords" content="Code, Backend, Front-End,Revanth, Revoori, Revoori Sai Revanth, Revanth Revoori , IIT, kharagpur, iit kharagpur, computer science, Art, Gridants,HTMedia, Photography, {{ page.tags | join: ', ' | escape }}" />

  <!-- <link rel="stylesheet" href="{{ "/css/main.css" | prepend: site.baseurl }}">  -->
  <link rel="canonical" href="{{ page.url | replace:'index.html','' | prepend: site.baseurl | prepend: site.url }}">
  <link rel="alternate" type="application/rss+xml" title="{{ site.title }}" href="{{ "/feed.xml" | prepend: site.baseurl | prepend: site.url }}" />

  <!-- Scripts -->
  <script>
  var filesadded="";
  function loadjscssfile(a,b){if("js"==b){var c=document.createElement("script");c.setAttribute("type","text/javascript"),c.setAttribute("async","true"),c.setAttribute("src",a)}else if("css"==b){var c=document.createElement("link");c.setAttribute("rel","stylesheet"),c.setAttribute("type","text/css"),c.setAttribute("href",a)}"undefined"!=typeof c&&document.getElementsByTagName("head")[0].appendChild(c)};
  </script>
  <script>
    function checkloadjscssfile(a,b){return-1==filesadded.indexOf("["+a+"]")?(loadjscssfile(a,b),filesadded+="["+a+"]",0):1};
  </script>

  <script>
    checkloadjscssfile("/assets/css/main.css","css");
    // checkloadjscssfile("//cdnjs.cloudflare.com/ajax/libs/font-awesome/4.5.0/css/font-awesome.min.css","css");
    // checkloadjscssfile("http://fonts.googleapis.com/css?family=Lato:400,700","css");
    checkloadjscssfile("//cdnjs.cloudflare.com/ajax/libs/jquery/2.2.0/jquery.min.js","js");
  </script>
  <noscript>
    <link href="{{ "/assets/css/main.css" | prepend: site.baseurl }}" rel='import' type='text/css'>
  </noscript>
  <script>
    var cb = function() {
    var l = document.createElement('link'); l.rel = 'stylesheet';
    l.href = "//fonts.googleapis.com/css?family=Lato:400,700";
    var h = document.getElementsByTagName('head')[0]; h.parentNode.insertBefore(l, h);
    };
    var raf = requestAnimationFrame || mozRequestAnimationFrame ||
    webkitRequestAnimationFrame || msRequestAnimationFrame;
    if (raf) raf(cb);
    else window.addEventListener('load', cb);
  </script>
  <noscript>
    <link href="//fonts.googleapis.com/css?family=Lato:400,700" rel='stylesheet' type='text/css'>
  </noscript>
  <script>
    var cb = function() {
    var l = document.createElement('link'); l.rel = 'stylesheet';
    l.href = "//cdnjs.cloudflare.com/ajax/libs/font-awesome/4.5.0/css/font-awesome.min.css";
    var h = document.getElementsByTagName('head')[0]; h.parentNode.insertBefore(l, h);
    };
    var raf = requestAnimationFrame || mozRequestAnimationFrame ||
    webkitRequestAnimationFrame || msRequestAnimationFrame;
    if (raf) raf(cb);
    else window.addEventListener('load', cb);
  </script>
  <noscript>
    <link href="//cdnjs.cloudflare.com/ajax/libs/font-awesome/4.5.0/css/font-awesome.min.css" rel='stylesheet' type='text/css'>
  </noscript>
  <!--  <script>
    var cb = function() {
    var l = document.createElement('link'); l.rel = 'stylesheet';
    l.href = "/assets/css/main.css";
    var h = document.getElementsByTagName('head')[0]; h.parentNode.insertBefore(l, h);
    };
    var raf = requestAnimationFrame || mozRequestAnimationFrame ||
    webkitRequestAnimationFrame || msRequestAnimationFrame;
    if (raf) raf(cb);
    else window.addEventListener('load', cb);
  </script> -->
  <!--Fonts-->
  <!-- <link href="http://fonts.googleapis.com/css?family=Lato:400,700" rel='stylesheet' type='text/css'> -->
  <!-- // <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/2.2.0/jquery.min.js"></script> -->
  <!-- <link href="//cdnjs.cloudflare.com/ajax/libs/font-awesome/4.5.0/css/font-awesome.min.css" rel="stylesheet" type="text/css"> -->
  {% include social-sharemeta.html %}
</head>
