<!-- Embedly Script -->
<!--
<script async src="//cdn.embedly.com/widgets/platform.js" charset="UTF-8"></script>
<script>checkloadjscssfile("//d1cq0y1aounrbr.cloudfront.net/embedly-platform.js","js");</script>
-->
<script>
  (function(w, d){
   var id='embedly-platform', n = 'script';
   if (!d.getElementById(id)){
     w.embedly = w.embedly || function() {(w.embedly.q = w.embedly.q || []).push(arguments);};
     var e = d.createElement(n); e.id = id; e.async=1;
     e.src = ('https:' === document.location.protocol ? 'https' : 'http') + '://cdn.embedly.com/widgets/platform.js';
     var s = d.getElementsByTagName(n)[0];
     s.parentNode.insertBefore(e, s);
   }
  })(window, document);
</script>
<!-- Spot.IM Comment Plugin -->
<!-- <script type="text/javascript">
! function(t, e, n) {
    function a(t) {
        var a = e.createElement("script");
        a.type = "text/javascript", a.async = !0, a.src = ("https:" === e.location.protocol ? "https" : "http") + ":" + n, (t || e.body || e.head).appendChild(a)
    }

    function o() {
        var t = e.getElementsByTagName("script"),
            n = t[t.length - 1];
        return n.parentNode
    }
    var p = o();
    t.spotId = "sp_seCahjjD", t.parentElement = p, a(p)
}(window.SPOTIM = {}, document, "//www.spot.im/launcher/bundle.js");
</script> -->

<!-- Disqus commenting system -->
<script>
/**
* RECOMMENDED CONFIGURATION VARIABLES: EDIT AND UNCOMMENT THE SECTION BELOW TO INSERT DYNAMIC VALUES FROM YOUR PLATFORM OR CMS.
* LEARN WHY DEFINING THESE VARIABLES IS IMPORTANT: https://disqus.com/admin/universalcode/#configuration-variables
*/
/*
var disqus_config = function () {
this.page.url = PAGE_URL; // Replace PAGE_URL with your page's canonical URL variable
this.page.identifier = PAGE_IDENTIFIER; // Replace PAGE_IDENTIFIER with your page's unique identifier variable
};
*/
(function() { // DON'T EDIT BELOW THIS LINE
var d = document, s = d.createElement('script');

s.src = '//rrevanthgithubio.disqus.com/embed.js';

s.setAttribute('data-timestamp', +new Date());
(d.head || d.body).appendChild(s);
})();
</script>
<noscript>Please enable JavaScript to view the <a href="https://disqus.com/?ref_noscript" rel="nofollow">comments powered by Disqus.</a></noscript>

<!-- Carnival Comment Plugin -->
<!-- <script src="https://carnivalapp.io/sites/454/init.js"></script>
<script>
    document.addEventListener("DOMContentLoaded", function() {
    Carnival.init({
      article_author: "Revanth Revoori",
      article_selector: "article",
      block_selector: ":scope > p, :scope > pre, :scope li",
      onNewComment: function(comment) {
        [].slice.call(comment.element.querySelectorAll("pre code")).map(
          function(e) { hljs.highlightBlock(e); }
        );
      }
    });
    });
</script>
<noscript>There should be nothing without Javascript</noscript> -->

<!-- Google Tag Manager -->
<noscript>
    <iframe src="//www.googletagmanager.com/ns.html?id=GTM-NGHKWG" height="0" width="0" style="display:none;visibility:hidden"></iframe>
</noscript>
<script>
(function(w, d, s, l, i) {
    w[l] = w[l] || [];
    w[l].push({
        'gtm.start': new Date().getTime(),
        event: 'gtm.js'
    });
    var f = d.getElementsByTagName(s)[0],
        j = d.createElement(s),
        dl = l != 'dataLayer' ? '&l=' + l : '';
    j.async = true;
    j.src =
        '//www.googletagmanager.com/gtm.js?id=' + i + dl;
    f.parentNode.insertBefore(j, f);
})(window, document, 'script', 'dataLayer', 'GTM-NGHKWG');
</script>
<!-- End Google Tag Manager -->

<!-- Google Analytics -->
<!-- <script>
(function(i, s, o, g, r, a, m) {
    i['GoogleAnalyticsObject'] = r;
    i[r] = i[r] || function() {
        (i[r].q = i[r].q || []).push(arguments)
    }, i[r].l = 1 * new Date();
    a = s.createElement(o),
        m = s.getElementsByTagName(o)[0];
    a.async = 1;
    a.src = g;
    m.parentNode.insertBefore(a, m)
})(window, document, 'script', '/assets/js/ga.js', 'ga');

ga('create', 'UA-60088426-1', 'auto');
ga('send', 'pageview');
</script>