<div class="share-page">
    Share this on  <i style="margin-left:10px;" class="fa fa-arrow-circle-o-right"></i>
    <ul>
        <li> <a href="https://twitter.com/intent/tweet?text={{ page.title }}&url={{ site.url | remove:'www.' }}{{ page.url }}&via={{ site.twitter_username }}&related={{ site.twitter_username }}" rel="nofollow" target="_blank">Twitter</a>
        </li>
        <li>
            <a href="https://facebook.com/sharer.php?u={{ site.url | remove:'www.' }}{{ page.url }}" rel="nofollow" target="_blank">Facebook</a>
        </li>
        <li>
            <a href="https://plus.google.com/share?url={{ site.url | remove:'www.' }}{{ page.url }}" rel="nofollow" target="_blank">Google+</a>
        </li>
    </ul>
</div>
