/**
 * Reset some basic elements
 */
body, h1, h2, h3, h4, h5, h6,
p, blockquote, pre, hr,
dl, dd, ol, ul, figure {
    margin: 0;
    padding: 0;
}

/**
 * Share Page Styling
 */
.share-page {
    text-align: center;
    background: $red;
    color: #fff;
    padding: 8px 15px;
    border-radius: 5px;
    margin: 1.5 * $spacing-unit 0;

    a {
        font-weight: 700;
        color: #fff;
        margin-left: 10px;

        &:hover {
            color: #fff;
            border-bottom: 1px dashed #fff;
        }
    }
}




/**
 * Basic styling
 */
body {
    font-family: $base-font-family;
    font-size: $base-font-size;
    line-height: $base-line-height;
    font-weight: 300;
    color: $text-color;
    background-color: $background-color;
    -webkit-text-size-adjust: 100%;
}



/**
 * Set `margin-bottom` to maintain vertical rhythm
 */
h1, h2, h3, h4, h5, h6,
p, blockquote, pre,
ul, ol, dl, figure,
%vertical-rhythm {
    margin-bottom: $spacing-unit / 2;
}



/**
 * Images
 */
img {
    max-width: 100%;
    vertical-align: middle;
}



/**
 * Figures
 */
figure > img {
    display: block;
}

figcaption {
    font-size: $small-font-size;
}



/**
 * Lists
 */
ul, ol {
    margin-left: $spacing-unit;
}

li {
    &.post-list {
        padding-bottom: 3rem;
        border-bottom: 1px solid rgba(245,245,247,0.984);
    }
    > ul,
    > ol {
         margin-bottom: 0;
    }
}



/**
 * Headings
 */
h1, h2, h3, h4, h5, h6 {
    font-weight: 300;
}



/**
 * Links
 */
a {
    color: $red;
    font-weight: bold;
    text-decoration: none;
    transition: color;
    transition-duration: 0.1s;
    -webkit-box-shadow: 0 2px 0 0 rgba(173,20,30,0.1);
    -moz-box-shadow: 0 2px 0 0 rgba(173,20,30,0.1);
    box-shadow: 0 2px 0 0 rgba(173,20,30,0.1);

    &:hover {
        color: #ad141e;
        -webkit-box-shadow: 0 2px 0 0 #ad141e;
        -moz-box-shadow: 0 2px 0 0 #ad141e;
        box-shadow: 0 2px 0 0 #ad141e;
    }

    &.twitter {
        color: $twitblue;
    }
    &.instagram {
        color: $instablue;
        &:hover {
          color: $linkblue;
        }
    }
    &.tags {
        font-size: $small-font-size;
        margin-right: 5px;
        &:hover{
            color: #ad141e;
            padding-bottom: 1px;
        }
    }
    &.author {
        font-weight: 100;
        font-style: italic;
        font-size: $small-font-size;
        box-shadow: none;
        &:hover{
            color: darken($red, 10%);
            padding-bottom: 1px;
        }
    }
    &.title {
        color: rgba(46,48,58,0.96);
        box-shadow: none;
        font-size: $base-font-size*1.2;
        &:hover {
          color: #ad141e;
        }
    }
    &.tag-title {
        color: rgba(46,48,58,0.96);
        box-shadow: none;
        margin-bottom: 20px;
        margin-top: 20px;
        font-size: $base-font-size;
        &:hover {
          color: #ad141e;
        }
    }
    &.site-title {
        color: rgba(46,48,58,0.96);
        box-shadow: none;
        font-size: $base-font-size*1.3;
        &:hover {
          color: #ad141e;
        }
    }
    &.link-border {
        color: $text-color;
        font-size: $base-font-size;
        box-shadow: none;
        &:hover {
          color: #ad141e;
    }
  }
}



/**
 * Blockquotes
 */
blockquote {
    color: rgba(80,83,101,0.96);
    border-left: 2px solid #ad141e;
    margin-left: 1.9rem 0;
    padding-left: 0.95rem;
    font-style: italic;

    > :last-child {
        margin-bottom: 0;
    }
}



/**
 * Code formatting
 */
td  {
    &.code   {
        width:  100%;
    }
}

code {
    padding: 1px 5px;
}

pre {
    padding: 8px 12px;
    overflow-x: auto;
    > code {
        border: 0;
        padding-right: 0;
        padding-left: 0;
    }
}


::-webkit-scrollbar {
  width: 10px;
  height: 4px;
}
::-webkit-scrollbar-button {
  width: 0px;
  height: 0px;
}
::-webkit-scrollbar-thumb {
  background: #666666;
  border: 0px none #ffffff;
  border-radius: 50px;
}
::-webkit-scrollbar-thumb:hover {
  background: #666666;
}
::-webkit-scrollbar-thumb:active {
  background: #000000;
}
::-webkit-scrollbar-track {
  background: #e1e1e1;
  border: 0px none #ffffff;
  border-radius: 50px;
}
::-webkit-scrollbar-track:hover {
  background: #e1e1e1;
}
::-webkit-scrollbar-track:active {
  background: #e1e1e1;
}
::-webkit-scrollbar-corner {
  background: transparent;
}


/**
 * Wrapper
 */
.wrapper {
    max-width: -webkit-calc(#{$content-width});
    max-width:         calc(#{$content-width});
    margin-right: auto;
    margin-left: auto;
    padding-right: $spacing-unit;
    padding-left: $spacing-unit;
    @extend %clearfix;

    @include media-query($on-laptop) {
        max-width: -webkit-calc(#{$content-width} - (#{$spacing-unit}));
        max-width:         calc(#{$content-width} - (#{$spacing-unit}));
        padding-right: $spacing-unit / 2;
        padding-left: $spacing-unit / 2;
    }
}



/**
 * Clearfix
 */
%clearfix {

    &:after {
        content: "";
        display: table;
        clear: both;
    }
}



/**
 * Icons
 */
.icon {

    > svg {
        display: inline-block;
        width: 40px;
        height: 40px;
        vertical-align: middle;

        path {
            fill: $grey-color;
        }
    }
}
