/**
 * Reset some basic elements
 */
body, h1, h2, h3, h4, h5, h6,
p, blockquote, pre, hr,
dl, dd, ol, ul, figure {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

/**
 * Share Page Styling
 */
.share-page {
    text-align: center;
    background: $red;
    color: #fff;
    padding: 8px 15px;
    border-radius: 5px;
    margin: 1.5 * $spacing-unit 0;
    ul {
        margin-left : 0px;
        display: inline-flex;
        list-style-type: none;
    }
    a {
        font-weight: 700;
        color: #fff;
        margin-left: 10px;

        &:hover {
            color: #fff;
            border-bottom: 1px dashed #fff;
        }
    }
}




/**
 * Basic styling
 */
body {
    font-family: $base-font-family;
    font-size: $base-font-size;
    line-height: $base-line-height;
    font-weight: 400;
    color: $text-color;
    background-color: $background-color;
    -webkit-text-size-adjust: 100%;
}



/**
 * Set `margin-bottom` to maintain vertical rhythm
 */
h1, h2, h3, h4, h5, h6,
p, blockquote, pre,
ul, ol, dl, figure,
%vertical-rhythm {
    margin-bottom: $spacing-unit / 2;
}



/**
 * Images
 */
img {
    max-width: 100%;
    vertical-align: middle;
}



/**
 * Figures
 */
figure > img {
    display: block;
}

figcaption {
    font-size: $small-font-size;
}



/**
 * Lists
 */
ul, ol {
    margin-left: $spacing-unit;
}

li {
    &.post-list {
        padding-bottom: 3rem;
        border-bottom: 1px solid rgba(245,245,247,0.984);
    }
    > ul,
    > ol {
         margin-bottom: 0;
    }
}



/**
 * Headings
 */
h1, h2, h3, h4, h5, h6 {
    font-weight: 600;

    &.slim {
      font-weight: 400;
    }
}


/**
 * All Tags Page Styling
 */
#select-header {
  position: fixed;
  bottom: 0;
  width: 900px;
  background: $red;
  border-top-left-radius: 25px;
  border-top-right-radius: 25px;
  line-height: 1;
  text-align: center;
  font-size: 30px;
  font-family: sans-serif;
  font-weight: bold;
  box-shadow: 0 0 15px #00214B;

  @include media-query($on-palm) {
    width: 91% !important;
    background: none;
    box-shadow: none;
  }
}
.alltag-select {
    margin: 0;
    padding: .5em 2.9em .5em .9em;
    -moz-appearance: none;
    -webkit-appearance: none;
    -ms-appearance: none;
    appearance: none;
    font-size: 70%;
    text-transform: uppercase;
    font-weight: 800;
    font-family: "Voltaire","Roboto Condensed","Fira Sans","Cantarell",sans-serif;
    letter-spacing: 1px;
    background: #fff;
    border: 1px solid rgba(0, 0, 0, .1);
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.05);
    color: #333;
    border-radius: 3px;
    -webkit-transition: all .2s;
    transition: all .2s;
    cursor: pointer;
}
.alltag-ul {
  margin: 0px;
}
.alltag-li {
  padding: 0.5rem 0rem 0.5rem 0rem;
}
.alltag-div {
  padding: 1rem 0rem 1rem 0rem;
  border-bottom: 1px solid rgba(245,245,247,0.984);
}


/**
 * Links
 */
a {
    color: $red;
    font-weight: bold;
    text-decoration: none;
    transition: color;
    transition-duration: 0.1s;
    -webkit-box-shadow: 0 2px 0 0 rgba(173,20,30,0.1);
    -moz-box-shadow: 0 2px 0 0 rgba(173,20,30,0.1);
    box-shadow: 0 2px 0 0 rgba(173,20,30,0.1);

    &:hover {
        color: #ad141e;
        -webkit-box-shadow: 0 2px 0 0 #ad141e;
        -moz-box-shadow: 0 2px 0 0 #ad141e;
        box-shadow: 0 2px 0 0 #ad141e;
    }

    &.twitter {
        color: $twitblue;
    }
    &.instagram {
        color: $instablue;
        &:hover {
          color: $linkblue;
        }
    }
    &.tags {
        font-size: $small-font-size;
        margin-right: 5px;
        &:hover{
            color: #ad141e;
            padding-bottom: 1px;
        }
    }
    &.author {
        font-weight: 100;
        font-style: italic;
        font-size: $small-font-size;
        box-shadow: none;
        &:hover{
            color: darken($red, 10%);
            padding-bottom: 1px;
        }
    }
    &.title {
        color: rgba(46,48,58,0.96);
        box-shadow: none;
        font-size: $base-font-size*1.2;
        &:hover {
          color: #ad141e;
        }
    }
    &.tag-title {
        color: rgba(46,48,58,0.96);
        box-shadow: none;
        margin-bottom: 20px;
        margin-top: 20px;
        font-size: $base-font-size;
        &:hover {
          color: #ad141e;
        }
    }
    &.alltags {
        font-size: $small-font-size;
        margin-right: 5px;
        box-shadow: none;

        &:hover{
            color: #ad141e;
            padding-bottom: 1px;
        }
    }
    &.alltag-title {
        color: rgba(46,48,58,0.96);
        box-shadow: none;
        margin-bottom: 20px;
        margin-top: 20px;
        font-size: $base-font-size;
        &:hover {
          color: #ad141e;
        }
    }
    &.link-border {
        color: $text-color;
        font-size: $base-font-size;
        box-shadow: none;
        &:hover {
          color: #ad141e;
        }
    }
    &.embedly-card {
        color: $text-color;
        font-size: $base-font-size;
        box-shadow: none;
        &:hover {
          color: $red;
          -webkit-box-shadow: 0 2px 0 0 #ad141e;
          -moz-box-shadow: 0 2px 0 0 #ad141e;
          box-shadow: 0 2px 0 0 #ad141e;
        }
    }
}



/**
 * Blockquotes
 */
blockquote {
    color: rgba(80,83,101,0.96);
    border-left: 4px solid #ad141e;
    margin-left: 1.9rem 0;
    padding-left: 0.95rem;
    font-style: normal;
    font-weight: normal;
    font-family: FontAwesome;

    p {
      font-family: "Alegreya", georgia,FontAwesome, serif !important;
    }

    &.tipquote {
      &::before {
        color: $green;
        content: '\f05a   Tip';
        font-weight: bolder;
        font-style: normal;
      }
      border-left: 4px solid $green;
      font-style: italic;
      text-align: justify;
      background: $green-lightest;
    }

    &.warnquote {
      &::before {
        color: $orange;
        content: '\f05a   Warning';
        font-weight: bolder;
        font-style: normal;
      }
      border-left: 4px solid $orange;
      font-style: italic;
      text-align: justify;
      background: $yellow-lightest;
    }

    &.centerquote {
      border-left:8px solid #2ecc71;
      width: 60% !important;
      padding-right: 2rem;

      @include media-query($on-palm) {
        width: inherit !important;
      }
    }

    &.notequote {
      &::before {
        color: $blue;
        content: '\f05a   Note';
        font-weight: bolder;
        font-style: normal;
      }
      border-left: 4px solid $blue;
      font-style: italic;
      text-align: justify;
      background: $blue-lightest;
    }

    > :last-child {
        margin-bottom: 0;
    }
}



/**
 * Code formatting
 */
td  {
    &.code   {
        width:  100%;
    }
}

code {
    white-space: pre-line;
    padding: 1px 5px;
}

pre {
    &.lineno  {
        -webkit-touch-callout: none;
        -webkit-user-select: none;
        -khtml-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
        user-select: none;
    }
    padding: 8px 12px;
    overflow-x: auto;
    > code {
        border: 0;
        padding-right: 0;
        padding-left: 0;
    }
}

::-webkit-scrollbar {
  width: 8px;
  height: 4px;
}
::-webkit-scrollbar-button {
  width: 0px;
  height: 0px;
}
::-webkit-scrollbar-thumb {
  background: #666666;
  border: 0px none #ffffff;
  border-radius: 50px;
}
::-webkit-scrollbar-thumb:hover {
  background: #666666;
}
::-webkit-scrollbar-thumb:active {
  background: #000000;
}
::-webkit-scrollbar-track {
  background: #e1e1e1;
  border: 0px none #ffffff;
  border-radius: 50px;
}
::-webkit-scrollbar-track:hover {
  background: #e1e1e1;
}
::-webkit-scrollbar-track:active {
  background: #e1e1e1;
}
::-webkit-scrollbar-corner {
  background: transparent;
}


/**
 * Wrapper
 */
.wrapper {
    max-width: -webkit-calc(#{$content-width});
    max-width:         calc(#{$content-width});
    margin-right: auto;
    margin-left: auto;
    padding-right: $spacing-unit;
    padding-left: $spacing-unit;
    @extend %clearfix;

    @include media-query($on-laptop) {
        max-width: -webkit-calc(#{$content-width} - (#{$spacing-unit}));
        max-width:         calc(#{$content-width} - (#{$spacing-unit}));
        padding-right: $spacing-unit / 2;
        padding-left: $spacing-unit / 2;
    }
}



/**
 * Clearfix
 */
%clearfix {

    &:after {
        content: "";
        display: table;
        clear: both;
    }
}



/**
 * Icons
 */
.icon {

    > svg {
        display: inline-block;
        width: 40px;
        height: 40px;
        vertical-align: middle;

        path {
            fill: $grey-color;
        }
    }
}

// ==========================================================================
// 404
// ==========================================================================

// Button
// ==========================================================================

// Button color
$color-button--color: $white-dark;
$color-button--color__hover: $white;

// Button background
$color-button--background: $red;
$color-button--background__hover: $red-dark;
$color-button--background__focus: $red;

// Button box-shadow
$color-button--boxShadow: $red-dark;
$color-button--boxShadow__hover: $red-darker;
$color-button--boxShadow__focus: $red-dark;


%button {
  display: inline-block;
  padding: 0.5em 1em;
  margin-bottom: 0.25em; // for box-shadow
  text-transform: uppercase;
  border-radius: 0.33em;
  border: 0;
  cursor: pointer;
  background-color: $color-button--background;
  color: $color-button--color;
  box-shadow: 0 0.25em 0 0 $color-button--boxShadow;
  transition: background-color 0.2s, color 0.2s, box-shadow 0.2s;
  backface-visibility: hidden;

  &:active {
    position: relative;
    top: 1px;
  }

  &:hover,
  &:focus {
    color: $color-button--color__hover;
  }

  &:hover {
    background-color: $color-button--background__hover;
    box-shadow: 0 0.25em 0 0 $color-button--boxShadow__hover;
  }

  &:focus {
    background-color: $color-button--background__focus;
    box-shadow: 0 0.25em 0 0 $color-button--boxShadow__focus;
  }
}

// scss-lint:disable IdSelector
#goog-fixurl {
    margin-top: 5rem;
    ul {
        list-style-type: none;
        padding: 0;
        margin: 0;
        li:before {
            content: '';
            margin:0 5px 0 -15px;
        }
    }
}

#goog-wm-qt {
  padding: 4px 0px 9px 0px;
  margin: 50px 10px 40px 0px;
  border-style: none;
  box-shadow: 0 2px 0 0 $color-button--boxShadow;
  &:hover {
    outline: none;
  }
}

#goog-wm-sb {
  @extend %button;
}