/**
 * Rss
 */
.fa-rss {
    position: absolute;
    width: 50px;
    color:$red;
    font-size: 200% !important;
    background: #fff;
    margin-top: -45px;
    margin-left: -23px;
    &:hover {
        text-shadow: 0px 0px 1px #2A2A2A;
    }
}

.social-media-list {
  text-align: center;
  margin-bottom: 5%;
    a {
      box-shadow: none;
      font-size: 200%;
      padding-right: 5%;
      text-align: center;
      color: $text-color;
    }
    a:last-child {
      padding-right: 0;
    }
    a:hover {
      color: $black;
    }
}

@include media-query($on-palm) {
  .fa-rss {
    font-size: 150% !important;
  }
  .social-media-list {
    a {
      font-size: 150%;
    }
  }
}
