---
title: Blog
layout: default
---

<a style="width:100%;margin-bottom:3rem;padding-right: initial;padding-left: 0px;text-align:center;" id="s-tag-button" href="/tags">SHOW ALL TAGS</a>


<div>
  <ul>
    {% for post in site.categories.blog %}
      <li class='post-list'>
        
        <a class="title" href="{{ post.url }}">{{ post.title }}</a><br>
        {{ post.date | date: "%b %-d, %Y" }}<br>
        <section style="margin-bottom:10px" >
        {% for tag in post.tags %}
          <a class="tags" style="margin-top:0.3em" href="/tag/{{ tag }}">{{ tag }}</a>
        {% endfor %}
        </section>
        <section class="post-excerpt" >
          {{ post.excerpt | markdownify | remove: '<p>' | remove: '</p>' }} <span style="color:#ccc;">. . .</span>
          <a class="readmore" href="{{ post.url }}"> read more <i class="fa fa-caret-square-o-right"></i></a><br>
        </section>
      </li>
      <br>
    {% endfor %}
  </ul>
</div>