---
layout: default
---
<div class="post">

  <header class="post-header">
    <h1 class="post-title">{{ page.title }}</h1>
    <p class="post-meta">{{ page.date | date: "%b %-d, %Y" }}{% if page.author %} • {{ page.author }}{% endif %}{% if page.meta %} • {{ page.meta }}{% endif %}</p>
  </header>

  <article class="post-content">
    {{ content }}
  </article>

	<span class='st_googleplus_hcount' displayText='Google +'></span>
	<span class='st_facebook_hcount' displayText='Facebook'></span>
	<span class='st_twitter_hcount' displayText='Tweet'></span>
	<span class='st_linkedin_hcount' displayText='LinkedIn'></span>
	<span class='st_pocket_hcount' displayText='Pocket'></span>
	<span class='st_pinterest_hcount' displayText='Pinterest'></span>
	<span class='st_email_hcount' displayText='Email'></span>

	<script type="text/javascript">var switchTo5x=true;</script>
	<script type="text/javascript" src="http://w.sharethis.com/button/buttons.js"></script>
	<script type="text/javascript">stLight.options({publisher: "a99a7d14-3311-41bb-85a0-318787f77c88", doNotHash: false, doNotCopy: false, hashAddressBar: false});</script>

</div>
