---
layout: default
---
<div class="post">

<div class="home"><a class="tags" href="/tag/videos"><h3><b>All Posts in Tidbits</b></h3></a></div>

  <header class="post-header">
    <br>
    <h1 class="post-title"><b>{{ page.title }}</b></h1>
    <p class="post-meta"><a class="author" href="/about">{% if page.author %}{{ page.author }}{% endif %}</a>  -  {{ page.date | date: "%b %-d, %Y" }}{% if page.meta %} • {{ page.meta }}{% endif %}</p>
    {% for tag in page.tags %}
      	<a class="tags" href="/tag/{{ tag }}">{{ tag }}</a>
      {% endfor %}
  </header>

  <article class="post-content">
    <br>
    {{ content }}
  
  {% for post in site.categories.tidbit %}
    {% if post.url == page.url %}
        {% assign post_index0 = forloop.index0 %}
        {% assign post_index1 = forloop.index %}
    {% endif %}
  {% endfor %}
  {% for post in site.categories.tidbit %}
      {% if post_index0 == forloop.index %}
          {% assign next_post = post.url %}
      {% endif %}
      {% if post_index1 == forloop.index0 %}
          {% assign prev_post = post.url %}
      {% endif %}
  {% endfor %}

  <div class="post-div">
  {% if prev_post %}
      <a class="post-links" href="{{ prev_post }}"><i class="fa fa-chevron-circle-left fa-3x"></i></a>
  {% endif %}
  {% if next_post %}
      <a class = "post-links" href="{{ next_post }}"><i class="fa fa-chevron-circle-right fa-3x"></i></a>
  {% endif %}
  </div>

  </article>

  {% include share-page.html %}
  
  <div id="spot-im-frame-inpage"></div>

</div>
